# Minimum Django and REST framework version
Django>=1.11.14,<2.0
djangorestframework>=3.6,<3.7
marshmallow>=2.15.3,<3.0

# Test requirements
pytest-django==3.4.2
pytest==3.8.0
pytest-cov==2.6.0
flake8==3.5.0

# MkDocs for documentation
mkdocs==1.0.4
