# Minimum Django and REST framework version
Django>=1.11.14,<2.0
djangorestframework>=3.6,<3.7
marshmallow>=2.15.3,<3.0

# Test requirements
pytest-django==3.4.1
pytest==3.7.1
pytest-cov==2.5.1
flake8==3.5.0

# MkDocs for documentation
mkdocs==0.17.5
